<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: Global</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">Global</h1>

    




<section>

<header>
    
        <h2></h2>
        
    
</header>

<article>
    <div class="container-overview">
    
        

        


<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    
</dl>


        
    
    </div>

    

    

    

    

    

    

    

    
        <h3 class="subsection-title">Methods</h3>

        
            

    

    
    <h4 class="name" id="resolvers"><span class="type-signature"></span>resolvers<span class="signature">(_, args)</span><span class="type-signature"> &rarr; {string}</span></h4>
    

    



<div class="description">
    Validates the given email address.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>_</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">Parent object (unused).</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>args</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">Arguments passed to the query.
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>email</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The email address to validate.</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="#server.js.html">server.js</a>, <a href="#server.js.htmlline40">line 40</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    A message indicating whether the email is valid or invalid.

<pre>
// Usage:
validateEmail({ email: "someoneelse@gmail.com" })
// Returns: "The email 'someoneelse@gmail.com' is valid."
</pre>
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">string</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="setupGraphQLEndpoint"><span class="type-signature"></span>setupGraphQLEndpoint<span class="signature">()</span><span class="type-signature"></span></h4>
    

    



<div class="description">
    This function sets up the `/graphql` endpoint to handle both GET and POST requests for email validation.

<p><strong>GET request:</strong> Queries are sent as URL parameters.</p>
<pre>
/graphql?query=query%20%7B%0A%20%20validateEmail(email%3A%20%22someoneelse%40gmail.com%22)%0A%7D%0A
</pre>
<p>This sends a query to validate the email <code>someoneelse@gmail.com</code>.</p>

<p><strong>POST request:</strong> Queries are sent in the body as JSON.</p>
<pre>
curl -X POST https://email-validator-delta.vercel.app/graphql \
  -H "Content-Type: application/json" \
  -d '{"query": "query { validateEmail(email: \"someoneelse@gmail.com\") }"}'
</pre>
<p>The response will contain whether the email is valid or not.</p>
 
 <iframe src="/graphiql" width="100%" height="600px"></iframe>

<p>For more on how GraphQL works, see <a href="https://graphql.org/">GraphQL Official Documentation</a>.</p>
</div>













<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="#server.js.html">server.js</a>, <a href="#server.js.htmlline80">line 80</a>
    </li></ul></dd>
    

    

    

    
</dl>




















        
            

    

    
    <h4 class="name" id="setupGraphiQL"><span class="type-signature"></span>setupGraphiQL<span class="signature">()</span><span class="type-signature"></span></h4>
    

    



<div class="description">
    This function serves the GraphiQL interface at the `/graphiql` endpoint.

<p>This endpoint provides a user-friendly interface to interact with the GraphQL API.</p>
</div>













<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="#server.js.html">server.js</a>, <a href="#server.js.htmlline96">line 96</a>
    </li></ul></dd>
    

    

    

    
</dl>




















        
    

    

    
</article>

</section>




</div>

<nav>
    <h2><a href="index.html">Home</a></h2><h3>Global</h3><ul><li><a href="global.html#resolvers">resolvers</a></li><li><a href="global.html#setupGraphQLEndpoint">setupGraphQLEndpoint</a></li><li><a href="global.html#setupGraphiQL">setupGraphiQL</a></li></ul>
</nav>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc 4.0.4</a> on Sun Jan 12 2025 17:48:53 GMT-0500 (Eastern Standard Time)
<a href="https://github.com/linuxfandudeguy/email-validator-graphql">api github</a>
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
